* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --backgroud: darkblue;
    --form: #fff;
    --h1texts: rgb(11, 11, 248);
    --button: rgb(16, 16, 150);
    --button-hover: rgb(2, 2, 105);
}