.brand {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.brand img {
    height: 150px;
    margin: auto;
    float: center;
}

/* fevil was here  */
.landing01 {
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0%;
    height: auto;
    width: 100%;
    padding-bottom: 4em;
    min-height: 100vh;
    height: fit-content;
    text-align: center;
}

.landing-topic {
    font-size: 45px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.landing-doings {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.landingreg,
.download {
    margin: 45px 0;
}

.landingreg .btn-landingreg {
    padding: 10px;
    color: #fff;
    background-color: #000;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.download a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;

}