/* fevil was here  */
form.regform {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    width: 350px;
    height: auto;
    background-color: #fff;
    margin-top: 40px;
    padding: 20px 90px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

select {
    height: 50px;
    background-color: rgb(219, 215, 215);
    border: 1px solid rgb(219, 215, 215);
    border-radius: 10px;
    padding: 0 30px;
    font-size: 19px;
    margin-bottom: 20px;
}

select:hover {
    border: 1px solid rgb(89, 89, 247);
}

button.btn-regform {
    color: #fff;
    background-color: rgb(57, 57, 228);
    height: 55px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 19px;
    margin-top: 20px;
    margin-bottom: 30px;
    border: 0px;
}

@media (max-width: 650px) {
    form.regform {
        width: 300px;
        height: auto;
        background-color: #fff;
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 30px;
        padding: 20px 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    select {
        height: 35px;
        font-size: 14px;
    }

    button.btn-regform {
        height: 35px;
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: 13px;
        border: 0px;
    }
}